<body class="font-sans bg-white">

  <div class="header">
    <app-header></app-header>
  </div>
  <div class="min-h-screen sm:ml-0 p-4 md:p-8 lg:p-14">

    <div class="flex flex-wrap justify-center mt-10">
      <!-- Contenedor de imágenes -->
      <div class="flex flex-wrap w-full lg:w-2/3 justify-center">
        <div class="border overflow-hidden m-1 rounded-md w-full lg:w-1/3">
          <img class="w-full h-full object-cover" src="https://img4.dhresource.com/webp/m/0x0/f3/albu/km/g/06/0fcb33be-698d-4042-8b0a-4e18ac51cc78.jpg" alt="jean casual">
        </div>

        <div class="border overflow-hidden m-1 rounded-md w-full lg:w-1/3">
          <img class="w-full h-full object-cover" src="https://cdnimg.emmiol.com/E/202204/img_original-CCD0418BO-2705456100.jpg" alt="jean ocasional">
        </div>

        <div class="border overflow-hidden m-1 rounded-md w-full lg:w-1/3">
          <img class="w-full h-full object-cover" src="https://cdnimg.emmiol.com/E/202212/img_original-CCL0344BO-2902401125.jpg" alt="jean ocasional">
        </div>

        <div class="border overflow-hidden m-1 rounded-md w-full lg:w-1/3">
          <img class="w-full h-full object-cover" src="https://cdnimg.emmiol.com/E/CDD0317BO/8aa3aa94f4ff7e8aa40c6feb43275d63.jpg" alt="jean hopper">
        </div>
      </div>

      <!-- Detalles del pantalón en la parte derecha -->
      <div class="border overflow-hidden m-2 rounded-md w-full lg:w-1/5">
        <div class="p-4 flex flex-col">
          <h2 class="text-lg font-semibold mb-2">Nombre del Jean</h2>

          <p class="text-gray-700 font-semibold text-lg mb-2">$22.11</p>

          <p class="text-gray-700 text-lg mb-2">Color</p>

          <ul class="flex mb-2">
            <div id="colorBall" class="ml-2 w-6 h-6 rounded-full bg-blue-500 cursor-pointer"></div>
            <div id="colorBall" class="ml-2 w-6 h-6 rounded-full bg-black cursor-pointer"></div>
            <div id="colorBall" class="ml-2 w-6 h-6 rounded-full bg-gray-500 cursor-pointer"></div>
          </ul>

          <p class="text-gray-700 text-lg mb-4">Talla</p>
          <div class="mb-2">
            <a target="_blank" class="bg-white border border-black text-black py-2 px-4 hover:bg-black hover:text-white">S</a>
            <a target="_blank" class="bg-white border border-black text-black py-2 px-4 hover:bg-black hover:text-white ml-2">M</a>
            <a target="_blank" class="bg-white border border-black text-black py-2 px-4 hover:bg-black hover:text-white ml-2">L</a>
            <a target="_blank" class="bg-white border border-black text-black py-2 px-3 hover:bg-black hover:text-white ml-2">XL</a>
          </div>

          <button class="mt-2 bg-gray-200 text-gray-500 font-semibold py-2 px-4 hover:bg-black hover:text-white">Seleccione una talla</button>

          <a href="https://wa.me/tunumerodetelefono" target="_blank" class="bg-green-500 text-white text-center py-2 px-4 mt-4 hover:bg-green-600">Contactar por WhatsApp</a>


        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

</body>
