<body>
  <aside class="hidden sm:my-20 lg:block fixed float-left mt-10 px-4 w-1/4 max-h-[80vh] overflow-y-auto -ml-10 mb-4 lg:mb-4 scrollbar-hide">
    <div class=" p-3 m-10 rounded-lg shadow mb-4 bg-white">
    <h2 class="text-lg font-semibold mb-4">Categorías</h2>

    <div class="mb-4">
      <h3 class="text-sm font-semibold mb-2">Talla</h3>
      <form>
        <input type="checkbox" id="opcion1" name="opcion1" value="opcion1">
        <label for="opcion1" class="ml-2">S</label>
        <br>
        <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
        <label for="opcion2" class="ml-2">M</label>
        <br>
        <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
        <label for="opcion2" class="ml-2">L</label>
        <br>
        <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
        <label for="opcion2" class="ml-2">XL</label>
      </form>
    </div>

    <div class="mb-4">
      <h3 class="text-sm font-semibold mb-2">Color</h3>
      <ul class="flex">
        <div *ngFor="let color of coloresDisponibles" [ngClass]="getBackgroundColorClass(color)" class="ml-2 w-6 h-6 rounded-full cursor-pointer border border-gray-500"></div>
      </ul>
    </div>

    <div>
      <h3 class="text-sm font-semibold mb-2">Tipo de Jean</h3>
      <ul class="list-disc">
        <form>
          <input type="checkbox" id="opcion1" name="opcion1" value="opcion1">
          <label for="opcion1" class="ml-2">Skinny</label>
          <br>
          <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
          <label for="opcion2" class="ml-2">Recto</label>
          <br>
          <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
          <label for="opcion2" class="ml-2">Bootcut</label>
        </form>
      </ul>
    </div>
  </div>
  </aside>
</body>
