<body>
  <div class="header">
    <app-header></app-header>
  </div>
    <main>
        <section>
            <div class="relative grid w-full bg-cover bg-center h-96 lg:h-[32rem] place-items-center" style="background-image: url(../../../assets/img/fondo3inico.webp);">
              <div class="absolute inset-0 bg-black opacity-30"></div>
                <div class="flex flex-col items-center mx-auto text-center">
                    <h1 class="text-4xl font-semibold text-white uppercase md:text-6xl z-10">ACJeans</h1>

                    <p class="mt-6 text-lg leading-5 text-white z-10">Prendas que deberias ver.</p>

                    <a href="#about" class="mt-8 cursor-pointer animate-bounce">
                        <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="27" cy="26" r="18" stroke="white" stroke-width="2" />
                            <path
                                d="M22.41 23.2875L27 27.8675L31.59 23.2875L33 24.6975L27 30.6975L21 24.6975L22.41 23.2875Z"
                                fill="white" />
                        </svg>
                    </a>
                </div>
            </div>

            <svg class="fill-gray-900" viewBox="0 0 1440 57" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <path d="M1440 0H0V57C720 0 1440 57 1440 57V0Z" />
            </svg>
        </section>

        <section class="container px-6 py-8 mx-auto lg:py-16" id="about">
            <h3 class="text-xl font-medium text-gray-800 md:text-2xl lg:text-3xl ">Prendas</h3>

            <div class="flex items-center py-6 mt-4 -mx-2 overflow-x-auto whitespace-nowrap">
                <button
                    class=" inline-flex px-4 mx-2 focus:outline-none  items-center py-0.5 text-white bg-gray-900 hover:bg-gray-400 duration-300 transition-colors rounded-2xl">Pantalones</button>
                <button
                    class=" inline-flex px-4 mx-2 duration-300 transition-colors hover:bg-gray-500/70 hover:text-white text-gray-500 focus:outline-none py-0.5 cursor-pointer rounded-2xl">Camisetas
                    </button>
                <button
                    class=" inline-flex px-4 mx-2 duration-300 transition-colors hover:bg-gray-500/70 hover:text-white text-gray-500 focus:outline-none py-0.5 cursor-pointer rounded-2xl">Buzos</button>
                <button
                    class=" inline-flex px-4 mx-2 duration-300 transition-colors hover:bg-gray-500/70 hover:text-white text-gray-500 focus:outline-none py-0.5 cursor-pointer rounded-2xl">Accesorios</button>
            </div>

            <div class="grid grid-cols-1 gap-10 mt-10 md:grid-cols-2 lg:grid-cols-3 ">
                <a href="#" class="transition-all duration-500 lg:col-span-2 hover:scale-105">
                    <img class="object-cover object-top w-full rounded-lg shadow-md shadow-gray-200 h-80 xl:h-96"
                        src="https://hips.hearstapps.com/hmg-prod/images/guest-wears-a-navy-blue-beanie-black-glasses-a-white-shirt-news-photo-1701266801.jpg?crop=1xw:0.84365xh;center,top&resize=1200:*"
                        alt="">
                </a>

                <a href="#" class="transition-all duration-500 hover:scale-105">
                    <img class="object-cover object-top w-full rounded-lg shadow-md shadow-gray-200 h-80 xl:h-96 "
                        src="https://media.gq.com.mx/photos/62ed694ef84edeef239b60b9/1:1/w_1428,h_1428,c_limit/ropa-basica-barata-para-hombre-cual-es-como-comprar.jpg"
                        alt="">
                </a>

                <a href="#" class="transition-all duration-500 hover:scale-105">
                    <img class="object-cover object-top w-full rounded-lg shadow-md shadow-gray-200 h-80 xl:h-96"
                        src="https://centrosantafe.com.mx/cdn/shop/articles/las-mejores-tiendas-de-ropa-de-moda-para-hombre.jpg?v=1559338879"
                        alt="">
                </a>

                <a href="#" class="transition-all duration-500 lg:col-span-2 hover:scale-105">
                    <img class="object-cover object-top w-full rounded-lg shadow-md shadow-gray-200 h-80 xl:h-96"
                        src="https://www.instyle.es/medio/2022/03/12/mezclas-de-ropa-que-nos-sabias-que-sentaban-tan-bien_cef3be18_1280x853.jpg"
                        alt="">
                </a>

                <a href="#" class="transition-all duration-500 lg:col-span-2 hover:scale-105">
                    <img class="object-cover object-top w-full rounded-lg shadow-md shadow-gray-200 h-80 xl:h-96"
                        src="https://www.okchicas.com/wp-content/uploads/2017/10/tips-para-usar-ropa-de-verano-en-invierno.jpg"
                        alt="">
                </a>

                <a href="#" class="transition-all duration-500 hover:scale-105">
                    <img class="object-cover object-top w-full rounded-lg shadow-md shadow-gray-200 h-80 xl:h-96"
                        src="https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/49e6b90e-e912-4f52-9cd9-8283ecb8ef2b___023489925aa1b63a1619e3cca7205472.jpg"
                        alt="">
                </a>
            </div>
        </section>

    </main>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</body>
