<body class="font-sans ">

  <div>
    <app-header></app-header>
  </div>

  <div class="flex justify-normal mt-40 mb-20 w-full h-full">

    <div class="flex justify-normal flex-wrap p-5 gap-72  rounded-md">

      <div class="flex flex-col justify-normal max-w-[20rem] min-h-[10rem]">
        <div class="bg-gray-800 w-full max-h-[5rem] mr-20">
          <h1 class="flex justify-center items-center text-white font-semibold text-2xl m-2">Bienvenido a tú perfil</h1>
        </div>
        <button (click)="verMiPerfil()" class="text-gray-400 hover:text-gray-700 font-semibold text-xl mb-4 mt-4 ml-2 flex justify-normal">Mi Perfil</button>
        <router-outlet></router-outlet>
        <button (click)="direcciones()" class="text-gray-400 hover:text-gray-700 font-semibold text-xl mb-4 ml-2 flex justify-normal">Dirección</button>
        <router-outlet></router-outlet>
        <button (click)="ordenes()" class="text-gray-400 hover:text-gray-700 font-semibold text-xl mb-4 ml-2 flex justify-normal">Pedidos</button>
        <router-outlet></router-outlet>
        <p class="text-gray-400 hover:text-gray-700 font-semibold text-xl mb-4 ml-2">Información</p>
        <p class="text-gray-400 hover:text-gray-700 font-semibold text-xl ml-2">Cerrar sesión</p>
      </div>
      <div>
        <div class="flex flex-col justify-start max-w-[35rem] min-h-[10rem] mt-16 absolute">
          <router-outlet name="myOutlet"></router-outlet>
        </div>
        <div class="flex flex-col justify-start max-w-[35rem] min-h-[10rem] mt-16 absolute">
          <router-outlet name="adreOutlet"></router-outlet>
        </div>
        <div class="flex flex-col justify-start max-w-[35rem] min-h-[10rem] mt-16 absolute">
          <router-outlet name="dersOutlet"></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</body>
