<body class="font-sans ">

    <div class="flex items-start w-full flex-row justify-between mr-[35rem]">
      <h1 class="text-gray-800 font-semibold text-2xl">Dirreciones</h1>
      <h2 class="text-gray-800 font-semibold">Editar</h2>
    </div>
    <!-- <div *ngIf="datosPerfil$ | async as datosPerfil" class="bg-gray-50 mt-4">
    <p class="text-gray-400 mb-2 mt-2">correo: {{datosPerfil.correo}}</p>
    <p class="text-gray-400 mb-2">celular: {{datosPerfil.celular}}</p>
    <p class="text-gray-400 mb-2">identificación: {{datosPerfil.identificacion}}</p>
    </div> -->
    <p class="text-gray-400 mb-4 mt-4">aun no cuenta con dirreción registrada</p>

</body>
